<div class="distant row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="md-title"> {{ title }} </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <form name="login_form" [ngFormModel]="form" (submit)="login()">
      <div class="form-group">
        <label for="username">E-mail</label>
        <input [(ngModel)]="model.username" ngControl="username" title="username" type="email" required="required"
               class="form-control" id="username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="model.password" ngControl="password" type="password" title="password"
               required="required" id="password"
               class="form-control">
      </div>

      <div>
        <button type="submit" class="btn">Login</button>
        <button [routerLink]="['PasswordReset']" class="btn">Forgot password</button>
      </div>

    </form>
  </div>

</div>

