<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="quoteApp" layout="column">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->


<md-toolbar ng-controller="ToolbarController as toolbar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-show="toolbar.userIsLogged()">
      <md-icon md-svg-icon="images/ic_menu_48px.svg"></md-icon>
    </md-button>
    <h2>
      <span>Quote</span>
    </h2>
    <span flex></span>

    <md-button ng-click="toolbar.navigateLogin()">Login</md-button>
    <md-button ng-click="toolbar.navigateRegister()">Register</md-button>

    <!--<md-button class="md-icon-button" aria-label="Previous">-->
      <!--<md-icon md-svg-icon="images/ic_arrow_back_48px.svg"></md-icon>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button" aria-label="Random">-->
      <!--<md-icon md-svg-icon="images/ic_shuffle_48px.svg"></md-icon>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button" aria-label="Next">-->
      <!--<md-icon md-svg-icon="images/ic_arrow_forward_48px.svg"></md-icon>-->
    <!--</md-button>-->

    <!--<md-button class="md-icon-button" aria-label="More">-->
      <!--<md-icon md-svg-icon="images/ic_more_vert_48px.svg"></md-icon>-->
    <!--</md-button>-->
  </div>
</md-toolbar>

<div layout="column" flex id="content">
  <md-content layout="column" flex class="md-padding" ng-view="">

  </md-content>
</div>



<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-linkify/angular-linkify.js"></script>
<script src="bower_components/rxjs/dist/rx.all.js"></script>
<script src="bower_components/rxjs/dist/rx.all.min.js"></script>
<script src="bower_components/rxjs/dist/rx.all.compat.js"></script>
<script src="bower_components/rxjs/dist/rx.all.compat.min.js"></script>
<script src="bower_components/rxjs/dist/rx.js"></script>
<script src="bower_components/rxjs/dist/rx.min.js"></script>
<script src="bower_components/rxjs/dist/rx.compat.js"></script>
<script src="bower_components/rxjs/dist/rx.compat.min.js"></script>
<script src="bower_components/rxjs/dist/rx.aggregates.js"></script>
<script src="bower_components/rxjs/dist/rx.aggregates.min.js"></script>
<script src="bower_components/rxjs/dist/rx.async.js"></script>
<script src="bower_components/rxjs/dist/rx.async.min.js"></script>
<script src="bower_components/rxjs/dist/rx.async.compat.js"></script>
<script src="bower_components/rxjs/dist/rx.async.compat.min.js"></script>
<script src="bower_components/rxjs/dist/rx.backpressure.js"></script>
<script src="bower_components/rxjs/dist/rx.backpressure.min.js"></script>
<script src="bower_components/rxjs/dist/rx.binding.js"></script>
<script src="bower_components/rxjs/dist/rx.binding.min.js"></script>
<script src="bower_components/rxjs/dist/rx.coincidence.js"></script>
<script src="bower_components/rxjs/dist/rx.coincidence.min.js"></script>
<script src="bower_components/rxjs/dist/rx.experimental.js"></script>
<script src="bower_components/rxjs/dist/rx.experimental.min.js"></script>
<script src="bower_components/rxjs/dist/rx.lite.js"></script>
<script src="bower_components/rxjs/dist/rx.lite.min.js"></script>
<script src="bower_components/rxjs/dist/rx.lite.compat.js"></script>
<script src="bower_components/rxjs/dist/rx.lite.compat.min.js"></script>
<script src="bower_components/rxjs/dist/rx.joinpatterns.js"></script>
<script src="bower_components/rxjs/dist/rx.joinpatterns.min.js"></script>
<script src="bower_components/rxjs/dist/rx.testing.js"></script>
<script src="bower_components/rxjs/dist/rx.testing.min.js"></script>
<script src="bower_components/rxjs/dist/rx.time.js"></script>
<script src="bower_components/rxjs/dist/rx.time.min.js"></script>
<script src="bower_components/rxjs/dist/rx.virtualtime.js"></script>
<script src="bower_components/rxjs/dist/rx.virtualtime.min.js"></script>
<script src="bower_components/angular-rx/dist/rx.angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!-- endbuild -->

<script src="out/app.js"></script>
</body>
</html>
