<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <pagination [totalItems]="total" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                [maxSize]="maxSize" [rotate]="true"
                [boundaryLinks]="true"></pagination>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div *ngFor="#quote of quotes">
      <h3>{{quote.title}}</h3>
      <pre>{{quote.quote}}</pre>
      <h6 ><span (show)="quote.published">Published on</span> {{quote.published}}</h6>
    </div>
  </div>
</div>



