<md-content>
  <div layout="row" flex="50" layout-align="center">
    <h1 class="md-title">Password Rest</h1>
  </div>

  <div layout="row" flex="50" layout-align="center">
    <p class="md-body-1">
      Please insert your e-mail and a password reset link will soon be send to your e-mail address.
    </p>
  </div>

</md-content>

<form name="login_form">
  <md-content>
    <div layout="row" flex="50" layout-align="center">
      <md-input-container>
        <label>E-mail</label>
        <input ng-model="username" title="username" type="email" required="required">
      </md-input-container>
    </div>
  </md-content>

  <div layout="row" layout-align="center center">
    <md-button ng-click="sendMail()">Send</md-button>
  </div>
</form>
