<div layout="column" layout-align="center center">
  <md-content>
    <div layout="row" layout-align="center center">
      <h1 class="md-title">Password Rest</h1>
    </div>

    <div layout="row">
      <p class="md-body-1">
        Please insert your e-mail and a password reset link will soon be send to your e-mail address.
      </p>
    </div>

  </md-content>

  <form name="login_form">
    <md-content>
      <div layout="row" layout-align="center center">
        <md-input-container>
          <label>E-mail</label>
          <input ng-model="retrieve.username" title="username" type="email" required="required">
        </md-input-container>
      </div>
    </md-content>

    <div layout="row" layout-align="center center">
      <md-button ng-click="retrieve.sendMail()">Send</md-button>
    </div>
  </form>

</div>
